@media only screen and (max-width: 375px) {

  /* Your mobile-specific styles go here */
  img {
    position: relative;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1440px) {

  /* Your desktop-specific styles go here */
  img {
    position: relative;
    max-width: 100%;
    border-radius: 20px;
    margin: 0 30px;
  }
}


body {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  max-width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}


.simple-omelette,
.ingredients,
.instructions,
.nutrition {
  font-family: "Young serif";
}

span {
  font-size: 20px;
  font-weight: bold;
  font-family: "Outfit";
}


.ingredients,
.instructions,
.nutrition {
  color: brown;
}


.simple-omelette-text {
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
}

.nutrition-text {
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
}

.simple-omelette-container,
.preparation-time-container,
.ingredients-container,
.instruction-container,
.nutrition-container {
  margin: 0 30px;
  padding: 10px 0;
}


.simple-omelette {
  font-family: "Young serif";
  font-weight: bold;
}

.preparation-time-container {
  background-color: hsl(330, 100%, 98%);
  border-radius: 7px;
  padding-left: 15px;
}

.preparation-time {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: hsl(332, 51%, 32%);
  font-family: "Outfit";
}

.preparation-list::marker {
  color: hsl(332, 51%, 32%);
}

.preparation-span {
  color: hsl(30, 10%, 34%) !important;
}

.preparation-list {
  color: hsl(30, 10%, 34%);
  padding-left: 5px;
  font-family: "Outfit";
}


.preparation-description {
  margin-top: 0;
}

.ingredients-list {
  color: hsl(30, 10%, 34%);
  padding-left: 5px;
  font-family: "Outfit";
}

.ingredients-list::marker {
  color: hsl(332, 51%, 32%);
}




.instruction-list {
  color: hsl(30, 10%, 34%);
  padding-left: 12px;
  font-family: "Outfit";
}

.instruction-list::marker {
  color: brown;
  font-weight: bold;
}

hr {
  margin-bottom: 20px;

}

table {
  margin: 0;
  margin-bottom: 15px;
}

.table-row {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
}

.calories-value {
  color: brown;
  font-weight: bold;
  font-family: "Outfit";
  margin-left: 100px;
}

/* .attribution {
  text-align: center;
  background-color: cornsilk;
  width: 100%;
  height: auto;
} */