@media (max-width: 375px) {

  /* Your mobile-specific styles go here */
  .omelette-image {
    position: relative;
    max-width: 100%;
  }
}

@media (max-width: 1440px) {

  /* Your desktop-specific styles go here */
  /* .omelette-image {
    position: relative;
    max-width: 100%;
    border-radius: 50px;
  } */
}

body {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Outfit";
}


section {
  padding: 0 25px;
}


.omelette-image {
  height: auto;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.simple-omelette {
  font-family: "Young serif";
}

span {
  font-size: 20px;
  font-weight: bold;
  font-family: "Outfit";
}

.simple-omelette-container,
.preparation-time-container,
.ingredients-container,
.instruction-container,
.nutrition-container {
  margin: 0 25px;
  padding: 10px 0;
}



/* .simple-omelette {
  margin-bottom: 20px;
  margin-top: 20px;
} */


.preparation-time-container {
  background-color: hsl(330, 100%, 98%);
  border-radius: 7px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin: 20px; */
}

.preparation-time {
  margin-top: 10px;
  margin-left: 10px;
  color: hsl(332, 51%, 32%);
}

.preparation-list::marker {
  color: hsl(332, 51%, 32%);
}

.preparation-span {
  color: hsl(30, 10%, 34%) !important;
}

.preparation-list {
  color: hsl(30, 10%, 34%);
  padding-left: 5px;
}

.preparation-description {
  margin-top: 0;
}

.ingredients-list {
  color: hsl(30, 10%, 34%);
  padding-left: 5px;

}

.ingredients-list::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients,
.instructions,
.nutrition {
  color: brown;
  font-family: "Young serif" !important;
  font-weight: bold;
}


.instruction-list {
  color: hsl(30, 10%, 34%);
  padding-left: 12px;
}

.instruction-list::marker {
  color: brown;
  font-weight: bold;
}

hr {
  margin-bottom: 20px;

}

table {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 15px;
}

.table-row {
  text-align: left;
  padding: 20px;
  border-bottom: 3px solid #ddd;
  font-weight: normal;
}

.calories-value {
  color: brown;
  font-weight: bold;
  font-family: "Outfit";
  margin-left: 80px;
}

/* .attribution {
  text-align: center;
  background-color: cornsilk;
  width: 100%;
  height: auto;
} */