@media (max-width: 375px) {

  /* Your mobile-specific styles go here */
  .omelette-image {
    position: relative;
    height: 400px;
    width: 100%;
    background-position: center center;
    background-size: cover;
  }
}

@media (max-width: 1440px) {

  /* Your desktop-specific styles go here */
  .omelette-image {
    position: relative;
    height: 300px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
  }
}

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Outfit";
}

span {
  font-size: 20px;
  font-weight: bold;
  font-family: "Outfit";
}


.omelette-image {
  position: relative;
  height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.simple-omelette {
  margin-bottom: 20px;
  margin-top: 20px;
}


section {
  margin-left: 30px;
}

.second-section {
  background-color: hsl(330, 100%, 98%);
  border-radius: 5px;
  /* margin: 20px; */
  margin-bottom: 20px;
}

.preparation-time {
  margin-top: 20px;
  margin-left: 20px;
  color: hsl(332, 51%, 32%);
}


.simple-omelette {
  font-family: "Young serif";
}

.ingredients,
.instructions,
.nutrition {
  color: brown;
  font-family: "Young serif" !important;
  font-weight: bold;
}

.instruction-list::marker {
  color: brown;
  margin-right: 10px;
  font-weight: bold;
}

.instruction-description {
  margin-left: 10px;
}


hr {
  margin-bottom: 20px;

}

table {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 10px;
}

.table-row {
  text-align: left;
  padding: 30px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}

td {
  text-align: left;
  padding: 30px;
}

.calories-value {
  color: brown;
  font-weight: bold;
  font-family: "Outfit";
}

.attribution {
  text-align: center;
  background-color: cornsilk;

}